#leagueInfo-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 50px;
}

#rankings-sct {
    width: 300px;
}

#fixtures-sct {
    width: 600px;
}

#leagueName-hd {
    text-align: center;
}

#leagueSeason-hd {
    text-align: center;
}

#fixtures-info-div {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.mdButton {
    display: block;
    border: none;
    margin-bottom: 2px;
    width: 150px;
    background: none;
    text-align: left;
    font-size: 14px;
}

.fixture-match-info-div {
    border: 1px solid #262626;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    column-gap: 30px;
    
}

.fixture-match-info-div img {
    width: 70px;
    height: auto;
}

.team {
    border: 2px solid #262626;
    text-align: center;
    width: 100px;
    height: 140px;
}

.match-info {
    text-align: center;
}

#match-info-sct {
    display: flex;
    flex-direction: column;
    width:900px;
    border:1px solid #262626;
    margin-left: auto;
    margin-right: auto;
}

#quick-info div {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    width:900px;
    justify-content: center;
    align-items: center;
    height:0;
}

#match-lineup {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

#match-statistics {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.homeTeam-stats .stats{
    text-align: right;
}

.stat-type{
    font-size: 1.1rem;
    font-weight: bold;
}

.stat-value {
    font-size: 1rem;
}


.stats {
    margin-bottom: 10px;
}
.stats p {
    margin: 0;
    padding: 0;
}

.dropdown-heading{
    display: inline-block ;
}

h3 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    background: #262626;
    color: white;
  }